*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

[class*="col"]{
	border: 1px solid transparent;	
}
html{
	scroll-behavior: smooth;
}
.company{
	font-size: 20px;
	position: absolute;
}


#port-jumbo{
	border: 5px solid rgba(15, 34, 51, 0.74);
	border-radius: 10px;
	width: 60%;
	padding: 8em 4em;
	background-color: rgba(242, 241, 237, 0.65);
}

#jumbo-div{
	padding-top: 5%;
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg5.jpeg);
	border-radius: 0;
	background-size: cover;
}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: black;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {
#port-jumbo{
	border: 5px solid rgba(15, 34, 51, 0.74);
	border-radius: 10px;
	width: 90%;
	/*padding: 8em 4em;*/
	background-color: rgba(242, 241, 237, 0.65);
	height: 100%;
}

#jumbo-div{
	/*padding-top: 10%;*/
	height: 100vh;
	/*background-color: rgba(14, 137, 251, 0.66);*/
	background-image: url(../images/bg5.jpeg);
	border-radius: 0;
	background-size: cover;
}
.jumbotron h1{
	color: black;

}
.btn a{
	text-decoration: none;
	color: #f2f2f2;
}

#sunny{
	font-size: 15px;
}

#web{
	font-size: 12px;
}
#button{
	font-size: 10px
}
#about{
	font-size: 15px;
}
.card-title{
font-size: 15px;
}
.text{
font-size: 12px;
}
.btn{
	width: 150px;
	font-size: 12px;
}
#lorem{
	font-size: 12px;
}
.footer{
	height: 30px;
	margin-top: 5%;
}
.text1{
	font-size: 8px;
}

}